<div id="profileContainer" class="profile-container">
  <h2>Profil</h2>

  <div class="profile-info">
    <img [src]="user.avatarUrl" alt="Profilbild" class="avatar" />

    <div *ngIf="!editing">
      <p id="username"><strong>Name:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <button id="editProfileButton" (click)="openEdit()">Bearbeiten</button>
    </div>

    <div id="editContainer" *ngIf="editing">
      <label>
        Name:
        <input id="usernameInput" [(ngModel)]="user.username" />
      </label>
      <label>
        Email:
        <input [(ngModel)]="user.email" />
      </label>
      <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
      <button id="saveEditProfileButton" (click)="saveProfile()">Speichern</button>
      <button id="closeEditProfileButton" (click)="closeEdit()">Abbrechen</button>
    </div>
  </div>
</div>
